
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Wallpaper de background:*/
body::before {
    content: "";
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: url('bg.jpg') no-repeat center center/cover;
    z-index: -1;
    filter: blur(8px);
    opacity: 0.6;
}

.login-container, .chat-container {
    background: white;
    padding: 20px;
    border-radius: 16px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
}

.login-container h2{
    text-align: center;
    padding-bottom: 20px;
}

header {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    color: #333;
}

#messages {
    list-style-type: none;
    padding: 0;
    margin-bottom: 10px;
    height: 300px;
    overflow-y: auto;
    border: 1px solid #eee;
    border-radius: 10px;
}

#messages li {
    padding: 10px 14px;
    margin-bottom: 8px;
    border-radius: 10px;
    color: #333;
    word-break: break-word;
}

.message-caixa {
    background: #e1f5fe;
}

.message-admin {
    background: #ffebee;
}

form {
    display: flex;
    align-items: center;
    gap: 6px;
}

#input {
    flex: 1;
    padding: 10px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    outline: none;
    transition: border-color 0.3s ease;
}

#input:focus {
    border-color: #4CAF50;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

.clip-icon {
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
}

input[type="text"], input[type="password"] {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 94%;
}

.emoji-wrapper {
    position: relative;
}

.emoji-icon {
    background: none;
    border: none;
    font-size: 22px;
    cursor: pointer;
    padding: 8px;
}

.emoji-panel {
    position: absolute;
    bottom: 45px;
    left: 0;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 10px;
    width: 220px;
    max-height: 180px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    z-index: 100;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    overflow-y: auto;
}

.emoji-panel span {
    cursor: pointer;
    padding: 4px;
    transition: background 0.2s ease;
    border-radius: 6px;
}

.emoji-panel span:hover {
    background: #f0f0f0;
}